*{
  padding: auto;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}
:root{
  --color-bg-dark:rgb(0, 0, 0);
  --color-bg-ligh:rgb(157, 157, 157);
  --color-gray:rgb(105, 102, 102);
  --color-gray-dark:rgb(52, 51, 51);
  --color-yellow:rgb(202, 229, 67);
  --color-yellow-dark:rgb(128, 117, 14);
  --color-blue:rgb(34, 152, 225);
  --color-dark-blue:rgb(8, 80, 100);
  --color-bg-jojo: rgb(239, 99, 216);
  --color-red:rgb(235, 104, 104);
  --shadow-y: 6px;
}
body{
  background-color: var(--color-bg-dark);
  color: var(--color-bg-jojo);
}
.container{
  max-width: 450px;
  width: 100%;
  margin-inline: auto;
  border: 5px solid var(--color-red);
  padding: 2rem 1rem;

}
h2{
  text-align: center ;
}
.App{ 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}
.start{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.text-lg{
  color: #000;
  text-align: center;
 
}
.card{
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: var(--color-red);
  text-align: center;
}
.text-light{
  text-align: center;
}

.btn {
  background-color: var(--color-gray);
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 var(--shadow-y) 0 var(--color-gray-dark);
  margin-bottom: 8px;
  display: inline-block;
  color: var(--color-bg-light);
}

.btn:hover {
  --shadow-y: 8px;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(2px);
  --shadow-y: 4px;
}
.btn-sm {
  --shadow-y: 4px;
}
.btn-sm:hover {
  --shadow-y: 6px;
}
.btn-sm:active {
  --shadow-y: 3px;
}

.btn-yellow {
  background-color: var(--color-yellow);
  box-shadow: 0 var(--shadow-y) 0 var(--color-yellow-dark);
}

.btn-blue {
  background-color: var(--color-blue);
  box-shadow: 0 var(--shadow-y) 0 var(--color-blue-dark);
}
.icon{
  display: inline-block;
}
.icon svg{
  fill: var(--color-gray);
  height: 52px;
  width: 70px;
  vertical-align: middle;
}
.icon-sm svg{
  width:  50px;
  height: 30px;
}
.icon-lg svg{
  width: 65px;
  height: 65px;
}
.icon-blue svg{
  fill: var(--color-blue);
}
.icon-yellow svg{
  fill: var(--color-yellow);
}

.board__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}
.board__body .card {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-inline: 10px;
}

.board__body .active.shadow-blue {
  background-color: var(--color-blue);
}

.board__body .active.shadow-yellow {
  background-color: var(--color-yellow);
}
.board__body .active.shadow-blue{
  background-color: var(--color-blue);
}
.board__body .active.shadow-yellow{
  background-color: var(--color-yellow);
}
.shadow-gray{
  box-shadow: 0 8px 0 rgb(89, 90, 88);
}
.shadow-blue{
  box-shadow: 0 8px 0 var(--color-dark-blue);
}
.shadow-yellow{
  box-shadow: 0 8px 0 var(--color-yellow);
}
.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(10, 50, 90, 0.5);
  display: flex;
  align-items: center;
}
.model.closed {
  display: none;
}
.modal__content {
  width: 100%;
  background-color: var(--color-bg-light);
}

/* ----------------------------------------------- */

.bg-light {
  background-color: var(--color-gray);
  color: var(--color-bg-dark);
}
.bg-yellow {
  background-color: var(--color-yellow);
  color: var(--color-bg-dark);
}
.bg-blue {
  background-color: var(--color-blue);
  color: var(--color-bg-dark);
} 

 .text {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.725rem;
}
.text-light {
  color: var(--color-gray-dark);
}
.text-blue {
  color: var(--color-blue);
}
.text-yellow {
  color: var(--color-yellow);
}

.bg-blue.text-light,
.bg-blue .text-light,
.bg-yellow.text-light,
.bg-yellow .text-light,
.bg-light.text-light,
.bg-light .text-light {
  color: var(--color-bg-light);
} 



.shadow-gray {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}
.shadow-blue {
  box-shadow: 0 8px 0 var(--color-blue-dark);
}
.shadow-yellow {
  box-shadow: 0 8px 0 var(--color-yellow-dark);
}

.icon {
  display: inline-block;
}
.icon svg {
  fill: var(--color-gray);
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.icon-sm svg {
  width: 30px;
  height: 30px;
}
.icon-lg svg {
  width: 65px;
  height: 65px;
}
.icon-yellow svg {
  fill: var(--color-yellow);
}
.icon-blue svg {
  fill: var(--color-blue);
}
.icon-dark svg {
  fill: var(--color-bg-dark);
}

.start {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.start__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.start__players {
  width: 100%;
  background-color: var(--color-bg-dark);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: inset 0 0 8px rgba(97, 94, 94, 0.2);
}
.start__players span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.start__players--active {
  background-color: var(--color-bg-jojo);
  box-shadow: 0 0 8px rgba(200, 195, 195, 0.2);
}
.start__btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.board__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.board__turn {
  border-radius: 5px;
  background-color: var(--color-bg-light);
  box-shadow: 0 4px 0 rgba(4, 3, 3, 0.2);
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.board__restart svg {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  transition: all 0.3s;
}

.board__restart:active svg {
  transform: rotate(180deg);
}

.board__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}
.board__body .card {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-inline: 10px;
}

.board__body .active.shadow-blue {
  background-color: var(--color-blue);
}

.board__body .active.shadow-yellow {
  background-color: var(--color-yellow);
}

.board__footer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.board__footer .card {
  gap: 15px;
}
.score__p{
color: var(--color-red);
font-size: 1.528rem;
}


.score {
  text-align: center;
}
.score__title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 40px 50px;
  justify-content: center;
}

.score__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart {
  text-align: center;
}
.restart__title {
  font-size: 2rem;

  margin-bottom: 30px;
}

.restart__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.container.abc{
  background-color: aliceblue;
}
.btn-danger {
  color: #fff;
  background-color: #f77f76;
  border-color: #ea722d;
}
.btn-danger:hover {
  color: #fff;
  background-color: #b61f14;
  border-color: #ab1e13;
}
.btn-check:focus + .btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: #b61f14;
  border-color: #ab1e13;
  box-shadow: 0 0 0 0.25rem rgba(220, 70, 59, 0.5);
}
.btn-check:checked + .btn-danger, .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #ab1e13;
  border-color: #a11c12;
}
.btn-check:checked + .btn-danger:focus, .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 70, 59, 0.5);
}
.btn-danger:disabled, .btn-danger.disabled {
  color: #fff;
  background-color: #d62518;
  border-color: #d62518;
}
.btn-warning {
  color: #fff;
  background-color: #cfcc0a;
  border-color: #cfcd3d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #067e70;
  border-color: #3ff76d;
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
  color: #fff;
  background-color: #7e4a06;
  border-color: #764606;
  box-shadow: 0 0 0 0.25rem rgba(164, 112, 44, 0.5);
}
.btn-check:checked + .btn-warning, .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active, .show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #764606;
  border-color: #6f4105;
}
.btn-check:checked + .btn-warning:focus, .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(164, 112, 44, 0.5);
}
.btn-warning:disabled, .btn-warning.disabled {
  color: #fff;
  background-color: #945707;
  border-color: #945707;
}
.btn-primary {
  color: #fff;
  background-color: #2bdbf2;
  border-color: #25dbf7;
}
.btn-primary:hover {
  color: #fff;
  background-color: #254fce;
  border-color: #224ac2;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #254fce;
  border-color: #224ac2;
  box-shadow: 0 0 0 0.25rem rgba(75, 117, 244, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #224ac2;
  border-color: #2046b6;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(75, 117, 244, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #2b5df2;
  border-color: #2b5df2;
}